// colors
$font-color: #414141;
$contrast-color: #d74444;

body {
  font-family: "Roboto";
  font-weight: 400;
  user-select: none;
  // font-size: 20px;
}

a {
  color: $font-color;
}
img {
  pointer-events: none;
}
.font-contrast-color {
  color: $contrast-color;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
//****** IconText styles start ******//
.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $font-color;
  text-decoration: none;
  gap: 10px;
}
//****** IconText styles end ******//


//****** NavPanel styles start ******//
.nav-panel {
  padding: 10px 0;
  background: #313131;
  color: #fff;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    a {
      font-size: 14px;
      text-decoration: none;
      color: #fff;
    }
  }
  &__delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: #fff;
  }
}
//****** NavPanel styles end ******//


//****** Header styles start ******//
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  &__logo {
    margin-right: 40px;
  }
  &__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 75%;
    .search-icon {
      position: absolute;
      left: 15px;
    }
    input[type="search"] {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      padding: 17px 50px;
      width: 100%;
      border: 1px solid #e6e6e6;
      color: $font-color;
    }
    input[type="search"]::-moz-placeholder { color: #414141; }
    input[type="search"]::-webkit-input-placeholder { color: #414141; }
  }
  &__buttons {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
//****** Header styles end ******//



//****** RangeOfFurniture styles start ******//
.range-of-furniture {
  padding: 24px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
  .etc-button {
    padding: 8px 10px;
  }
}
//****** RangeOfFurniture styles end ******//


